
# Dev only
dev.ps1
node_modules/
dist/
.env
.env.local
*.tsbuildinfo
.vscode/
.idea/

# Upload
signage_uploads/

# OS / Editor
.DS_Store
Thumbs.db

# Logs and temp
*.log
tmp/
.cache/

Docs/sample/

apps/test-nodejs-mdc-sbb
apps/tizen
apps/tizen-sbb


