DATABASE_URL=postgresql://ds:Samsung%402026!@localhost:5432/ds
REDIS_URL=redis://:RedisSignage@2026!@localhost:6379
JWT_SECRET=0YHLycMnNIqJiKkCarQ1g23z8bWtR9BD7SF5vdsm
JWT_REFRESH_SECRET=mzbGyhR7FJq2BKpYH41ZgiMjrAfXW56unNxatSdQ
STORAGE_ROOT=/var/signage/uploads
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ebd.showroom@gmail.com
SMTP_PASS="fcfb vqfr ante wzso"
SMTP_FROM=ebd.showroom@gmail.com
SMTP_STARTTLS=true
FFMPEG_PATH=ffmpeg
LIBREOFFICE_PATH=soffice
GHOSTSCRIPT_PATH=gs
APP_URL=https://ds.chiho.app
APP_EXTRA_ORIGINS=http://192.168.1.17,http://localhost:5173
API_PORT=3000
TRASH_RETENTION_DAYS=7
