# Tizen Studio
.sign/
.build/
.webapp/
*.wgt
.tproject

# Build artifacts
.buildResult/
.delta/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store

# Node / NPM
node_modules/
*.log
npm-debug.log*
package-lock.json
Thumbs.db

# Logs
*.log
